<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Nombre de la Página</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<header>
		<nav>
			<div class="logo">
				<img src="./static/images/logo.png" alt="Logo de Valorant Gambling">
			</div>
			<table>
				<div>
					<tr>
						<td>Inicio</td>
						<td>Juegos</td>
						<td>Promociones</td>
						<td>Ayuda</td>
						<td>Iniciar Sesión</td>
						<td>Registrarse</td>
					</tr>
				</div>
			</table>

		</nav>
		<div class="hero">
			<h1>¡Prueba tu suerte en Valorant Gambling!</h1>
			<p>Experimenta la emoción de los juegos de azar con la temática de Valorant.</p>
			<a href="#" class="btn btn-primary">Jugar Ahora</a>
			<a href="#" class="btn btn-secondary">Más Información</a>
		</div>
	</header>
</body>

</html>