.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.logo {
	font-size: 24px;
	font-weight: bold;
}

.user-menu {
	display: flex;
	gap: 10px;
}

/* Estilos para el cuerpo */
.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

.event {
	width: 30%;
	padding: 20px;
	margin: 10px;
	text-align: center;
	background-color: #f2f2f2;
}

.event-header {
	font-size: 18px;
	font-weight: bold;
}

.event-image {
	margin-top: 20px;
	width: 100px;
	height: 100px;
	background-color: #ccc;
}

/* Estilos para el pie */
.footer {
	text-align: center;
	padding: 20px;
	background-color: #f2f2f2;
}